<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feicuiedu.com.easyshop">

    <!--打电话权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--SD卡读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".YiTaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.me.personinfo.PersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.me.personinfo.NickNameActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".main.me.persongoods.PersonGoodsActivity" />
        <!-- windowSoftInputMode属性是为了让输入键盘不遮挡EditText -->
        <activity
            android:name=".main.me.goodsload.GoodsLoadActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".main.me.goodsload.ShowPhoneActivity" />
        <activity android:name=".main.details.GoodsDetailActivity" />
        <activity android:name=".main.details.GoodsDetailInfoActivity" />
    </application>

</manifest>